<h1>About Us</h1>
<p>We have decided to try to develop a website that may actually be used by people to 'Sync' up with their friends as to what courses they want to take. We hope you find this site useful. </p>

<p> If you have any problems with this... sorry </p>
